<%inherit file="app_base.htm"/>

<%block name="head_extra">
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.2/jquery.liveaddress.min.js"></script>
</%block>

<%block name="body_section_content">
  <h1>Checkout</h1>
  <div id="accordion">

    <h3>Order Summary</h3>
    <div id="order-summary">
    <table id="order-summary-table" class="table table-striped">
        <tbody>
          <tr> <th>Subtotal:</th> <td>$${request.user.shopping_cart.subtotal}</td> </tr>
          <tr> <th>Tax:</th> <td>$${request.user.shopping_cart.tax}</td> </tr>
          <tr> <th>Shipping:</th> <td>$${request.user.shopping_cart.shipping_fee}</td> </tr>
          <tr id="total-row"> <th>Total:</th> <td>$${request.user.shopping_cart.total}</td> </tr>
        </tbody>
    </table>
      <button id="summary-continue" class="btn btn-primary btn-sm">Continue</button>
    </div>

    <h3>Shipping</h3>
      <div id="shipping-form-container">
      <h4>Shipping Address</h4>
        <div id="shipping-address" class="text-center">
          <p>${request.user.address}</p>
          <p>${request.user.city}, ${request.user.state} ${request.user.zipcode}</p>
        </div>
          <button id="load-address-form" class="btn btn-primary btn-sm">Verify Address</button>
      </div>

    <h3>Payment</h3>
    <div id="payment_form_container">
      ${ form }
      <a id="stripe-link" href="https://stripe.com/docs/security/stripe">Is Stripe secure?</a>
    </div>

  </div>

</%block>
