<%inherit file="base_ajax.htm"/>

<%block name="content">
  %if form.is_valid():
  <h4>Shipping Address</h4>
  <div id="shipping-address" class="text-center">
    <p>${form.cleaned_data.get('address')}</p>
    <p>${form.cleaned_data.get('city')}, ${form.cleaned_data.get('state')} ${form.cleaned_data.get('zipcode')}</p>
  </div>
  <button id="load-address-form" class="btn btn-primary btn-sm">Change Address</button>
  <button id="shipping-continue" class="btn btn-primary btn-sm">Use this address</button>
  %else:
    ${ form }
  %endif

</%block>
