<%inherit file="app_base.htm"/>

<%block name="body_section_before">

</%block>

<%block name="body_section_content">

  <div>
    %if previous_page.find('catalog/index') != -1:
      <a href="${ previous_page }"> <span class="glyphicon glyphicon-chevron-left"></span> Return to results</a>
    %elif previous_page.find('catalog/search') != -1:
        <a href="${ previous_page }"> <span class="glyphicon glyphicon-chevron-left"></span> Return to search results</a>
    %endif
  </div>
  <div class="row">
    <div class="col-md-7 pull-right">
      <h2 id="product-name">${ product.name}</h2>
      <ul>
        <li>Price: ${ product.price}</li>
        <li>Brand: ${ product.brand}</li>
        <li>Category: ${ product.category.name}</li>
      </ul>
      %if hasattr(product, 'quantity'):
      Quantity:
      <input class="form-group" type="text" name="" value="">
      %endif
      <button class="btn btn-warning" type="button" name="button">BUY NOW</button>
    </div>
  <div class="col-md-5">
    <img data-pid=${product.id} id="product-image" class="img-responsive" src="${STATIC_URL + product.primary_image_subdir()}" alt="">
  </div>

  </div>




</%block>
