<%inherit file="app_base.htm"/>

<%block name="body_section_before">

</%block>

<%block name="body_section_content">
  <div id="return-link">
    %if previous_page.find('catalog/index') != -1:
    <a href="${ previous_page }"> <span class="glyphicon glyphicon-chevron-left"></span> Return to results</a>
    %elif previous_page.find('catalog/search') != -1:
    <a href="${ previous_page }"> <span class="glyphicon glyphicon-chevron-left"></span> Return to search results</a>
    %else:
    <a href="/catalog/index"> <span class="glyphicon glyphicon-chevron-left"></span> Return to catalog</a>
    %endif
  </div>

  <div class="row">

    <div id="product-image" class="col-md-5">
      <img data-pid=${product.id} class="img-responsive thumbnail" src="${STATIC_URL + product.default_image().subdir}" alt="">
    </div>

    <div id="product-action">
      <h2 id="product-name">${ product.name}</h2>
      <h5>${ product.brand }</h5>
      <h1 class="text-center text-success">$${ product.price }</h1>
      <form id="buy-now-form" class="form-inline" action="#" method="get">
        <div class="form-group">
        %if hasattr(product, 'quantity'):
          <div class="input-group">
            <span class="input-group-addon">Qty</span>
            <input id="order-qty" class="form-control" type="number" name="quantity" value="1">
          </div>
        %endif
        </div>
        <button class="btn btn-warning" type="button">BUY NOW</button>
      </form>
    </div>

  </div>


  <div id="product-info">
  <h3>Product Information</h3>
    <table class="table table-striped">
    %for k,v in product_details.items():
      <tr>
        <td>${ ' '.join(k.split('_')).title() }: </td>
        <td>${ v }</td>
      </tr>
    %endfor
    </table>
  </div>

</%block>
