<%inherit file="app_base.htm" />

<%block name="body_section_before">
  <h1>Product Catalog</h1>
</%block>


<%block name="body_section_left">
  <h4>Show results for: </h4>
  <ul class="nav">
  <li><a href="/catalog/index">< All Categories</a></li>
    %for category in categories:
    <li><a href="/catalog/index?categoryid=${ category.id }">${ category.name }</a></li>
    %endfor
  </ul>
</%block>

<%block name="body_section_content">
  %for product in products:
    <a href="/catalog/details/${ product.id }">
      <div class="tile-container">
        <div class="tile-image">
          <img src="${ STATIC_URL + product.primary_image_subdir() }" alt="">
        </div>
        <div class="tile-title">
          ${ product.name }
        </div>
      </div>
    </a>
  %endfor
</%block>
