<%inherit file="app_base.htm"/>

<%block name="body_section_content">
    <h1>Shopping Cart</h1>
    %if cart.active_items.count() == 0:
    <div class="text-center">
      <h3>Oh man...it looks like your shopping cart is empty :( </h3>
      <a class="btn btn-warning" href="/catalog/index">Fill it up!</a>
    </div>
    %else:
    <table class="table table-striped">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Extended Amount</th>
        <th></th>
      </tr>
      %for cart_item in cart.active_items.all():
      <tr class="cart-row">
        <td><img class="img-thumbnail item-image" src="${ STATIC_URL + cart_item.product.image.subdir }" alt=""></td>
        <td>
          <a href="/catalog/details/${ cart_item.product.id }">${ cart_item.product.name }</a>
        </td>
        <td>$${ cart_item.product.price }</td>
        <td>${ cart_item.quantity }</td>
        <td>$${ cart_item.subtotal }</td>
        <td>
          <a href="/catalog/shoppingcart.remove_item/${cart_item.id}" class="delete_button btn btn-danger btn-xs">
            Remove
          </a>
        </td>
      </tr>
      %endfor
    </table>
    <div class="text-right">
      <ul id="cart-summary">
        <li>Subtotal: $${ cart.subtotal }</li>
        <li>Tax: $${ cart.tax }</li>
        <li>Shipping: $${ cart.shipping_fee }</li>
        <li>Total: $${ cart.total }</li>
      </ul>
    </div>
      <a class="btn btn-warning pull-right" href="/catalog/checkout">Checkout</a>
    %endif


</%block>
