#header_maintenance{
    color: white;
    background-color: #9B2C21;
    font-size: 16px;
    text-align: center;
}

#header_message{
    position: fixed;
    top: 24px;
    right: 30px;
    z-index: 1000;
}

#header_icon{
    float:left;
}

#header_icon > a > img {
    height: 54px;
    padding: 2px;
    margin: 2px;
}

#header_navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}

#shopping-cart {
    font-size: 18px;
}

#badge-notify{
   background:red;
   position:relative;
   top: -15px;
   left: -5px;
}

#body_section_before{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#body_section{
    position: relative;
}

#body_section_top{
    text-align: center;
}

#body_section_left{
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    height: 100%;
}

#body_section_content{
    margin-left: 200px;
    margin-right: 200px;
}

#body_section_right{
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
    height: 100%;
    padding-top: 30px;
}

.last-5-items > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
}

#body_section_after{
    padding: 20px;
}

#body_footer{
    text-align: center;
}

@media (max-width: 1010px) {
    #body_section_top, #body_section_content{
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        padding-top: 0px;
    }
    #body_section_left, #body_section_right{
        position: relative;
        width: auto;
        display: none;
    }
}
#brand-short {
  display: none;
}
@media (max-width: 460px) {
    #brand-long {
      display: none;
    }
    #brand-short {
      display: inherit;
    }
}
