#body_section_before{
  position: relative;
}

#body_section_before > img {
  width: 100%;
}

#cover_text_area{
  position: absolute;
  bottom: 20%;
  font-size: 38px;
  text-align: center;
  width: 100%;
}

#cover_text{
  background-color: white;
  opacity: .6;
  border-radius: 6px;
  margin-left: 15%;
  margin-right: 15%;
}



@media (max-width: 800px) {
  #cover_text_area{
    position:inherit;
    font-size: 38px;
    text-align: center;
    width: 100%;
    background-color: #eee;
  }

  #cover_text{
    margin-left: 7%;
    margin-right: 7%;
    font-size: 20px;
    opacity: inherit;
    padding: 20px;
    background: transparent;
  }

  #cta {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {

}
