#body_section_before{
  position: relative;
}

#body_section_before > img {
  width: 100%;
}

#body_section_content, #body_section_top {
  display: none
}

#cover_text_area{
  position: absolute;
  bottom: 20%;
  font-size: 38px;
  text-align: center;
  width: 100%;
}

#cover_text{
  background-color: white;
  opacity: .6;
  border-radius: 6px;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 800px) {
  #cover_text_area{
    position:inherit;
    font-size: 38px;
    text-align: center;
    width: 100%;
    background-color: #eee;
  }

  #cover_text{
    margin-left: 7%;
    margin-right: 7%;
    font-size: 20px;
    opacity: inherit;
    padding: 20px;
    background: transparent;
  }

  #cta {
    margin-bottom: 20px;
  }
}

.tiles_container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 0px;
}

.home_tiles {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 33%;
    margin-bottom: 20px;
}

.home_tiles > a > img {
    width: 100%;
    padding: 0 3px;
}

.tile_header {
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 767px) {
    .tiles_container {
        position: relative;
        width: 100%;
        padding: 0px;
    }
    .home_tiles {
        width: 100%;
        padding: 0px;
        text-align: center;
    }
    .home_tiles > a > img {
        padding: 0;
    }
}
