<%inherit file="app_base.htm" />

<%block name="title">About</%block>

<%block name="body_section_before">
  <h1>A little about us.</h1>

</%block>
<%block name="body_section_content">
  <div>
  <div>
    <img id="about_image" class="img-responsive" src="${STATIC_URL}homepage/media/boy_music.jpg" alt="">
  </div>

    <p id="about_text">
    As a family owned operation based out of Utah Valley, we at The Family Oriented Music Organization
    have been meeting customer needs for over half a century. Founded in 1952, the primary focuses of
    our organization has been renting/selling instruments and accessories, hosting venues, and
    providing musical services. We have always prided ourselves on delivering value to our customers
    through an outstanding in-store experience. Throughout the years we have centered
    our core beliefs around bettering the community, making musical opportunities accessible to
    everyone, and exceeding customer needs and expectations.
    </p>
  </div>
</%block>

<%block name="body_section_after">
</%block>
