<%! from django_mako_plus import get_template_css, get_template_js %>
<%! from catalog.models import ViewHistory%>

<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <head>
    <title>FOMO | <%block name="title">Site</%block></title>
    <link rel="icon" type="image/png" href="${STATIC_URL}homepage/media/logo.png" />

    ## add any site-wide scripts or CSS here; for example, jquery:
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}homepage/media/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}homepage/media/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    ## render the css with the same name as this page
    ${ get_template_css(self, request, context)}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="${STATIC_URL}homepage/media/bootstrap/js/bootstrap.min.js"></script>

    <%block name="head_extra">
    </%block>

  </head>
  <body>

    <div id="header_maintenance">
        <%block name="header_maintenance">
        </%block>
    </div>

    <div id="header_message">
        <%block name="header_message">
        </%block>
    </div>

    <%block name="body_container">
    <header id=body_header>
        <nav id="header_navbar" class="navbar navbar-default">
        <div class="container-fluid">
          <div id="header_icon">
              <a href="/" title="FOMO Homepage">
                  <img src="${STATIC_URL}homepage/media/logo.png" alt="">
              </a>
          </div>
            <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_nav" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="brand-long" class="navbar-brand" href="/">Family Oriented Music Organization</a>
          <a id="brand-short" class="navbar-brand" href="/">Family Music</a>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="collapse_nav">
            <ul class="nav navbar-nav navbar-right">

            <%block name="header_menu_items">
            </%block>

            <%block name="header_menu_items_extra">
            </%block>

            %if request.user.is_authenticated:
                <li>
                  <a id="shopping-cart" href="/catalog/shoppingcart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span id="badge-notify" class="badge">${ request.user.shopping_cart.item_count()}</span>
                  </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopups="true" aria-expanded="true">
                        Welcome,  ${ request.user.first_name } <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/index"><span class="glyphicon glyphicon-user"></span> Your Account </a></li>
                        %if request.user.has_perm('catalog.change_product'):
                        <li><a href="/manager/index"><span class="glyphicon glyphicon-th"></span> Dashboard </a></li>
                        %endif
                        <li role="separator" class="divider"></li>
                        <li><a href="/account/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                    </ul>
                </li>
            %else:
                <li><a id="modallogin_button">Login</a></li>
            %endif

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header><!-- /#body_header -->

    <div id = "body_section_before">
        <%block name="body_section_before">
        </%block>
    </div>

    <div id="body_section">
        <div id = "body_section_top">
            <%block name="body_section_top">
            </%block>
        </div>

        <div id = "body_section_left">
            <%block name="body_section_left">
            </%block>
        </div>

        <div id = "body_section_right">
            <%block name="body_section_right">
            </%block>
        </div>

        <div id = "body_section_content">
            <%block name="body_section_content">
            </%block>
        </div>
    </div><!-- /#body_section -->

    %if request.user.is_authenticated:
    <%block name="body_section_after">
    <div id="body_section_after">
      <div id="view_history_title">Recently viewed items</div>
      <div id="view_history_bar">
      %for product in ViewHistory.last_n(request.user, n=9):
        <a href="/catalog/details/${ product.id }">
          <div class="view_history_item_container">
          <div class="view_history_item_image">
            <img src="${ STATIC_URL + product.default_image().subdir }" alt="">
          </div>
          ${ product.name }
          </div>
        </a>
      %endfor
      </div>
    </div>
    </%block>
    %endif

    <footer id="body_footer">
        <%block name="body_footer">
        <div class="row">
          <div id="site-map">
            <div class="site-map-column">
                <h4>Shop</h4>
                <ul class="site-map-list">
                    <li><a href="/catalog/index?category__id=1">Brass</a></li>
                    <li><a href="/catalog/index?category__id=2">String</a></li>
                    <li><a href="/catalog/index?category__id=3">Wind</a></li>
                    <li><a href="/catalog/index?category__id=4">Percussion</a></li>
                    <li><a href="/catalog/index">Accessories</a></li>
                </ul>
            </div>
            <div class="site-map-column">
              <h4>Learn</h4>
              <ul class="site-map-list">
                <li><a href="/homepage/about/">About Us</a></li>
                <li><a href="/homepage/terms/">Music Terms</a></li>
                <li><a href="/homepage/faq/">FAQs</a></li>
              </ul>
            </div>
            <div id="site-map-contact">
              <div id="social_icons">
                  <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-snapchat fa-2x" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

      <div class="copyright">
        <%! from datetime import datetime %>
        &copy; Copyright ${datetime.now().year}. All rights reserved.
      </div>
      </%block>
    </footer>

    <%block name="modal">
    </%block>

    </%block><!-- /block: body_container-->

    ## add any site-wide scripts here:
    <script src="${STATIC_URL}homepage/media/jquery.loadmodal.js"></script>
    <script src="${STATIC_URL}homepage/media/jquery.form.js"></script>
    <script src="${STATIC_URL}homepage/media/jquery.datetimepicker.full.js"></script>
    ## JavaScript References ## render the JS with the same name as this page
    ${ get_template_js(self, request, context) }
    </body>
</html>
