<%! from django_mako_plus import get_template_css, get_template_js %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title><%block name="title"></%block>My Site</title>

    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}homepage/styles/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}homepage/styles/bootstrap-theme.css"/>
    ## render the css with the same name as this page
    ${ get_template_css(self, request, context) }

  </head>

  <body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

        <%block name="navbar_links">
          <li><a href="/homepage/index">Home</a></li>
          <li><a href="/homepage/contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </%block>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <header>
    <%block name="header_icon">
        <div id="header_icon">
            <img src="${STATIC_URL}homepage/media/trumpet.jpg"/>
        </div>
    </%block>
    </header>


    <div id = "content">
    <%block name="content">
      Site content goes here in sub-templates. Is this here?
    </%block>
    </div>

    <footer>
    <%block name="footer">

    </%block>
    </footer>

    ## JavaScript References
    <script src="${STATIC_URL}homepage/scripts/bootstrap.js"></script>
    ## render the JS with the same name as this page
    ${ get_template_js(self, request, context) }

  </body>
</html>
