<%! from django_mako_plus import get_template_css, get_template_js %>
<%! from catalog.models import ViewHistory%>

<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <head>
    <title>FOMO | <%block name="title">Site</%block></title>
    <link rel="icon" type="image/png" href="${STATIC_URL}homepage/media/logo.png" />

    ## add any site-wide scripts or CSS here; for example, jquery:
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}homepage/media/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}homepage/media/jquery.datetimepicker.min.css"/>
    ## render the css with the same name as this page
    ${ get_template_css(self, request, context)}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="${STATIC_URL}homepage/media/bootstrap/js/bootstrap.min.js"></script>

    <%block name="head_extra">
    </%block>

  </head>
  <body>

    <div id="header_maintenance">
        <%block name="header_maintenance">
        </%block>
    </div>

    <div id="header_message">
        <%block name="header_message">
        </%block>
    </div>

    <%block name="body_container">
    <header id=body_header>
        <nav id="header_navbar" class="navbar navbar-default">
        <div class="container-fluid">
          <div id="header_icon">
              <a href="/" title="FOMO Homepage">
                  <img src="${STATIC_URL}homepage/media/logo.png" alt="">
              </a>
          </div>
            <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_nav" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="brand-long" class="navbar-brand" href="/">Family Oriented Music Organization</a>
          <a id="brand-short" class="navbar-brand" href="/">FOMO</a>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="collapse_nav">
            <ul class="nav navbar-nav navbar-right">

            <%block name="header_menu_items">
            </%block>

            <%block name="header_menu_items_extra">
            </%block>

            %if request.user.is_authenticated:
                <li>
                  <a id="shopping-cart" href="/catalog/shoppingcart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span id="badge-notify" class="badge">${ request.user.shopping_cart.item_count()}</span>
                  </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopups="true" aria-expanded="true">
                        Welcome,  ${ request.user.first_name } <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/index"><span class="glyphicon glyphicon-user"></span> Your Account </a></li>
                        %if request.user.has_perm('catalog.change_product'):
                        <li><a href="/manager/index"><span class="glyphicon glyphicon-th"></span> Dashboard </a></li>
                        %endif
                        <li role="separator" class="divider"></li>
                        <li><a href="/account/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                    </ul>
                </li>
            %else:
                <li><a id="modallogin_button">Login</a></li>
            %endif

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header><!-- /#body_header -->

    <div id = "body_section_before">
        <%block name="body_section_before">
        </%block>
    </div>

    <div id="body_section">
        <div id = "body_section_top">
            <%block name="body_section_top">
            </%block>
        </div>

        <div id = "body_section_left">
            <%block name="body_section_left">
            </%block>
        </div>

        <div id = "body_section_right">
            <%block name="body_section_right">
            %if request.user.is_authenticated:
            <h5>Recently Viewed Items</h5>
            <ul class="nav last-5-items">
              %for product in ViewHistory.last_five(request.user):
              <li><a href="/catalog/details/${ product.id }">${ product.name }</a></li>
              %endfor
            </ul>
            %endif
            </%block>
        </div>

        <div id = "body_section_content">
            <%block name="body_section_content">
            </%block>
        </div>
    </div><!-- /#body_section -->

    <div id="body_section_after">
        <%block name="body_section_after">
        </%block>
    </div>

    <footer id="body_footer">
        <%block name="body_footer">
            <%! from datetime import datetime %>
            &copy; Copyright ${datetime.now().year}. All rights reserved.
        </%block>
    </footer>

    <%block name="modal">
    </%block>

    </%block><!-- /block: body_container-->

    ## add any site-wide scripts here:
    <script src="${STATIC_URL}homepage/media/jquery.loadmodal.js"></script>
    <script src="${STATIC_URL}homepage/media/jquery.form.js"></script>
    <script src="${STATIC_URL}homepage/media/jquery.datetimepicker.full.js"></script>
    ## JavaScript References ## render the JS with the same name as this page
    ${ get_template_js(self, request, context) }
    </body>
</html>
