<%inherit file="app_base.htm" />

<%block name="title">Home</%block>

<%block name="body_section_before">
    <img class="img-responsive" src="${STATIC_URL}homepage/media/cover.jpg" alt="">
    <div id="cover_text_area">
      <div id="cover_text">
        Creating incredible musical experiences for your entire family!
      </div>
        <a class="btn btn-info" href="#" role="button">See How</a>
    </div>

  <div>
    <h4>When will I receive my order?</h4>
    <p>
      In stock,  non-pre-order items shipping to addresses within the United States
      are sent by UPS or US Mail (USPS) depending on weight and usually take 7-10 business
      day to arrive. APO addresses have an average transit time of 10-21 days. International
      shipments including Canada and Mexico are made via international post (mail) and take
      up to 21 business days to arrive. International shipments may be held by your local Customs
      Authority for an additional 10-14 days depending on the customs laws in your country. Therefore,
      it is best to allow 4-6 weeks for delivery.
    </p>
    <p>
      Orders received over the weekend and on holidays will be processed the following
      business day. In most cases, your credit card will not be charged until the product is
      shipped. We will notify you if any item cannot be shipped within 30 days and you will be
      given the option to cancel your order.
    </p>
  </div>

  <div>
    <h4>How do I contact customer service?</h4>
    <p>You can contact us at the “Contact Us” page. Unfortunately we are unable to assist via phone.</p>
  </div>


  <div>
    <h4>What forms of payment do you accept?</h4>
      <p>
        Please note that all prices listed in our store are in US Dollars. We accept PayPal, Visa,
        MasterCard and American Express. We are not accepting cash, checks or money orders at
        this time. In most cases, your credit card will not be charged until your order actually ships.
        If you are paying with PayPal, you will be charged at the time of purchase.
       </p>
       <p>
        Once your order is placed, our system checks with your credit card company to confirm funds
        are available, this is an authorization only, not a charge. Authorizations will be removed in
        approximately 3-5 days depending on your financial institution. You will only be charged once
        your order ships
      </p>
      <p>
        If you use a debit card to pay for your order, please keep in mind that most items are
        billed when shipped and funds must be available in your account at that time.
      </p>

  </div>
  <img class="img-responsive" src="${STATIC_URL}homepage/media/cover.jpg" alt="">
  <div id="cover_text_area">

  </div>
  <div>
    <h4>When will I receive my order?</h4>
    <p>
      In stock,  non-pre-order items shipping to addresses within the United States
      are sent by UPS or US Mail (USPS) depending on weight and usually take 7-10 business
      day to arrive. APO addresses have an average transit time of 10-21 days. International
      shipments including Canada and Mexico are made via international post (mail) and take
      up to 21 business days to arrive. International shipments may be held by your local Customs
      Authority for an additional 10-14 days depending on the customs laws in your country. Therefore,
      it is best to allow 4-6 weeks for delivery.
    </p>
    <p>
      Orders received over the weekend and on holidays will be processed the following
      business day. In most cases, your credit card will not be charged until the product is
      shipped. We will notify you if any item cannot be shipped within 30 days and you will be
      given the option to cancel your order.
    </p>
  </div>

  <div>
    <h4>How do I contact customer service?</h4>
    <p>You can contact us at the “Contact Us” page. Unfortunately we are unable to assist via phone.</p>
  </div>


  <div>
    <h4>What forms of payment do you accept?</h4>
      <p>
        Please note that all prices listed in our store are in US Dollars. We accept PayPal, Visa,
        MasterCard and American Express. We are not accepting cash, checks or money orders at
        this time. In most cases, your credit card will not be charged until your order actually ships.
        If you are paying with PayPal, you will be charged at the time of purchase.
       </p>
       <p>
        Once your order is placed, our system checks with your credit card company to confirm funds
        are available, this is an authorization only, not a charge. Authorizations will be removed in
        approximately 3-5 days depending on your financial institution. You will only be charged once
        your order ships
      </p>
      <p>
        If you use a debit card to pay for your order, please keep in mind that most items are
        billed when shipped and funds must be available in your account at that time.
      </p>

  </div>
</%block>
