<%inherit file="app_base.htm" />

<%block name="title">Sections</%block>

<%block name="header_maintenance">
    Maintenance Message here
</%block>


<%block name="header_message">
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      This is my header message!
  </div>
</%block>

<%block name="body_section_before">
    Body Section Before
</%block>

<%block name="body_section_top">
    Body Section Top
</%block>

<%block name="body_section_left">
<h3>Left Section Heading</h3>
<p>
    Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
    Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
    consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
</p>
</%block>

<%block name="body_section_right">
<h3>Right Section Heading</h3>
<p>
    Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
    Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
    consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
</p>
</%block>

<%block name="body_section_content">
    <h1>Section Heading</h1>
    <p>
        Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
        Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
        consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
        Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
        Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
        consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
    </p>

    <h1>Section Heading</h1>
    <p>
        Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
        Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
        consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
        Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
        Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
        consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
    </p>

    <h1>Section Heading</h1>
    <p>
        Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
        Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
        consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
        Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
        Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
        consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
    </p>

    <h1>Section Heading</h1>
    <div>
        Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
        Aute eiusmod Lorem et pariatur aliqua voluptate incididunt aliquip ad. Ea amet exercitation
        consequat officia aute nostrud cillum qui sint dolor ipsum irure culpa culpa.
        Deserunt quis laboris ut ex commodo exercitation eu aliquip commodo amet exercitation.
    </div>
</%block>

<%block name="body_section_after">
    This is my body section after
</%block>
