<%inherit file="app_base.htm" />

<%block name="title">Terms</%block>

<%block name="body_section_top">
  <h1>Music Terms</h1>
</%block>

<%block name="body_section_content">
    <div class="music_term">
      <h4>Melody</h4>
      <p>line, or tune, in music, a concept that is shared by most cultures</p>
    </div>

    <div class="music_term">
      <h4>Contour</h4>
      <p>how the melody moves up and down</p>
    </div>


    <div class="music_term">
      <h4>Range</h4>
      <p>span of the pitches</p>
    </div>


    <div class="music_term">
      <h4>Interval</h4>
      <p>distance between any two pitches in a melody</p>
    </div>


    <div class="music_term">
      <h4>Conjunct</h4>
      <p>small connected interval</p>
    </div>

    Disjunt	an interval that leaps
    <div class="music_term">
      <h4>Melody</h4>
      <p>line, or tune, in music, a concept that is shared by most cultures</p>
    </div>


    <div class="music_term">
      <h4>Phrases</h4>
      <p>units that make up a melody</p>
    </div>


    <div class="music_term">
      <h4>Cadences</h4>
      <p>resting places</p>
    </div>


    <div class="music_term">
      <h4>Countermelody</h4>
      <p>secondary melody</p>
    </div>

    <div class="music_term">
      <h4>Rhythm</h4>
      <p>what moves the music forward in time</p>
    </div>

</%block>
