#body_section_content {
  padding: 15px;
  margin-right: 20px;
}

#body_section_right {
  display: none;
}

#body_section_left {
  background-color: inherit;
  padding-top: 30px;
  padding-left: 10px;
}

@media (max-width: 990px) {

  #body_section_content {
    width: 90%;
    margin: 0 auto;
  }
  #body_section_left {
    display: none;
  }
  #search-box {
    display: none;
  }
}

@media (max-width: 767px) {
  #search-box {
    display: inline;
  }
}
