#body_section_content {
  margin: 0 auto;
  width: 70%
}
@media (max-width: 893px) {
  #body_section_content {
    width: 90%
  }
}

#body_section_left {
  position: fixed;
  display: none;
}

#order-summary {
  text-align: center;
}
.ui-accordion-header-active {
  background-color: #2c3e50;
}

#cart-summary > li {
  list-style: none;
}

#order-summary-table {
  max-width: 400px;
  margin: 0 auto;
}

td {
  text-align: right;
}

#shipping-form-container {
  text-align: center;
}

#payment_form_container {
  text-align: center;
}

#stripe-link {
  font-size: 12px;
}
