.modal-dialog {
  max-width: 95% !important;
}
#image-modal {
  text-align: center;
}

.product-images {
  width: 500px;
  display: inline-block;
}

.modal-buttons {
    display: inline-block;
    margin-top: 15px;
}
