#body_section_content {
  /*text-align: center;*/
}

.categories > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
}

.tile-container {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 5px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(44, 62, 80, .5);
  border-radius: 3px;
}

.tile-image > img{
  width: 230px;
  padding: 6px;
  min-height: 230px;
}

.tile-text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(44, 62, 80, 1);

}

.tile-title {
  text-decoration: none;
  font-size: 24px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  text-align: left;
  padding: 4px;
  padding-bottom: 0px;
  bottom: 0;
  text-align: center;
}

.tile-title:hover {
  text-align: left;
}

.tile-details {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  text-align: left;
  padding: 4px;
  padding-top: 0px;
  bottom: 0;
}

.tile-details > ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

.brand-name {
  font-size: 14px;
}

.price {
  font-size: 30px;
  font-weight: 400;
}

.view-now-button {
  text-align: center;
  padding-top: 15px;
}

.hover {
  background: rgba(44, 62, 80, .6);
  top: 0;
  color: white;
  padding: 8px;
  text-align: left;
}

@media (max-width: 750px) {
  .tile-image > img{
    width: 300px;
    min-height: 300px;
  }
  #body_section_content {
    text-align: center;
  }
}

@media (max-width: 1010px) {
  #body_section_content {
    text-align: center;
  }
}
