#body_section_content {
  text-align: center;
  margin-left: 0px;
}

@media (max-width: 767px) {
    #body_section_content {
      width: 100%;
      margin: 0 auto;
    }
 }

#body_section_left, #body_section_right {
  position: fixed;
  display: none;
}

#receipt-container {
  display: inline-block;
  max-width: 600px;
  padding: 10px;
  border-style: solid;
  border-width:thin;
  border-radius: 5px;
}

#total-row {
  border-top-style:double;
}

td {
  text-align: right;
}
