#body_section_content {
  margin-left: 40px;
  padding: 15px;
}

#body_section_left {
  position: fixed;
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.item-image {
  width: 110px;
}

#cart-summary > li {
  list-style: none;
}

td {
  vertical-align: middle;
}
